.mobileOnly {
  display: none;
}

.logoImg {
  width: 6%;
  margin: auto;
}

.empty {
  width: 100%;
  height: 3vh;
  background: rgb(232, 229, 229);
}

.mainDiv {
  width: 98%;
  /* border: 1px solid black; */
  height: 40px;
  display: flex;
  margin: auto;
}

.category {
  height: 40px;
  /* border: 1px solid blue; */
  width: 15%;
  cursor: pointer;
}

.category > div {
  border: 1px solid rgb(216, 214, 214);
  width: 90%;
  height: 95%;
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  margin-left: 5%;
}

.category > div > div {
  margin-left: 5%;
}

.search {
  height: 40px;
  width: 60%;
  display: flex;
}

.orderBagLogin {
  height: 40px;
  width: 25%;
  margin-left: 2%;
  display: flex;
}

.order {
  width: 90%;
  margin: auto;
  display: flex;
}

.bag {
  width: 90%;
  display: flex;
  margin: auto;
}

.login {
  /* border: 1px solid blue; */
  width: 90%;
  margin: auto;
  display: flex;
}
.login1 {
  /* border: 1px solid blue; */
  width: 120%;
  margin: auto;
  display: flex;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(216, 214, 214);
  font-size: 15px;
  padding: 1%;
  position: relative;
  background: none;
}
.searchicon {
  margin-left: -25px;
  margin-top: 1.4%;
}

/* for dropdown */

.shopby a {
  font-size: 14px;
  padding: 0px;
  color: #333;
  display: block;
  text-decoration: none;
}

.shopby ul {
  position: absolute;
  left: 2%;
  width: 200px;
  /* background: #fff; */
  background: rgb(244, 240, 237);
  z-index: 1000;
  display: none;
  list-style: none;
  height: 500px;
  /* border: 1px solid black; */
}

.shopby ul li {
  width: 100%;
  margin-top: 8px;
  margin-left: 8px;
}

.shopby ul li ul {
  left: 200px;
  top: 0px;
  list-style: none;
  width: 400px;
  border: 1px solid rgb(239, 205, 180);
  z-index: 1000;
}

.shopby:focus-within > ul,
.shopby:hover > ul {
  display: initial;
}

.shopby > ul > li:hover > ul {
  display: initial;
}

.products {
  font-size: 15px;
  color: rgb(255, 81, 0);
}
.productssmall {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.productssmall:hover {
  color: rgb(255, 81, 0);
}

.giftcard {
  font-size: 15px;
  color: rgb(255, 81, 0);
}
.giftcardsmall {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.giftcardsmall:hover {
  color: rgb(255, 81, 0);
}

.dropMenu:hover {
  background: rgb(239, 205, 180);
}
.login {
  font-size: 13px;
  margin-left: 5%;
}

@media screen and (max-width: 820px) {
  .mobileOnly {
    display: none;
  }
  .productssmall {
    font-size: 10px;
  }
  .shopby a {
    font-size: 7px;
  }
  .login {
    font-size: 7px;
  }
  .input {
    height: 80%;
    font-size: 12px;
  }
  .category {
    height: 34px;
  }
  .shopby ul {
    left: 2%;
    width: 150px;
    height: 300px;
    z-index: 1000;
  }
  .shopby ul li ul {
    left: 150px;
    top: 0px;
    list-style: none;
    width: 300px;
    border: 1px solid rgb(239, 205, 180);
    z-index: 1000;
  }
  .giftcardsmall {
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  .cancel {
    display: none;
  }
  .mobileOnly {
    display: initial;
    background: rgb(245, 243, 241);
  }

  .threeSection {
    border: 1px solid transparent;
    width: 95%;
    margin: auto;
    display: flex;
  }
  .product {
    border: 1px solid transparent;
    width: 18%;
    font-size: 10px;
    margin: auto;
    display: flex;
    margin-top: 6px;
  }
  .input2 {
    width: 70%;
    margin: auto;
  }
  .log {
    margin-top: 3px;
    cursor: pointer;
  }
  .input1 {
    border: 1px solid lightgray;
    width: 100%;
    font-size: 8px;
    border-radius: 2px;
  }
}
