* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  position: absolute;
  top: -2500%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px 30px;
  background: rgb(248, 237, 225);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup.active {
  top: 250%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: rgb(255, 81, 0);
  color: #f5f5f5;
  border-right: 10px;
  cursor: pointer;
}

.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .popup {
    width: 250px;
    padding: 20px 30px;
  }
  .popup.active {
    top: 350%;
    opacity: 1;
  }
  .popup .form .form-element button {
    width: 100%;
    height: 30px;
    font-size: 13px;
    margin: auto;
  }
  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="password"] {
    margin-top: 2px;
    width: 100%;
    padding: 6px;
  }
}

@media screen and (max-width: 415px) {
  .displayNone {
    display: none;
  }
  .display {
    border: 1px solid transparent;
    width: 40%;
    border-radius: 10px;
    line-height: 25px;
    margin: auto;
    margin-top: 10%;
    font-size: 15px;
    background: rgb(235, 237, 213);
    color: rgb(255, 81, 0);
  }
  .displayNone1 {
    display: none;
  }
  .display1 {
    border: 1px solid transparent;
    width: 40%;
    border-radius: 10px;
    line-height: 25px;
    margin: auto;
    margin-top: 10%;
    font-size: 15px;
    background: rgb(235, 237, 213);
    color: rgb(255, 81, 0);
  }

  .displayNone2 {
    display: none;
  }
  .display2 {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    font-size: 10px;
    background: rgb(235, 237, 213);
    border-radius: 10px;
    line-height: 18px;
    border: 1px solid rgb(255, 81, 0);
  }
  .displayNone3 {
    display: none;
  }
  .display3 {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    font-size: 10px;
    background: rgb(235, 237, 213);
    border-radius: 10px;
    line-height: 18px;
    border: 1px solid rgb(255, 81, 0);
  }
}
